{{ with .Params.cta }}
<section class="call-to-action bg-1 section-sm overly" style="background-image: url('{{.bg_image | relURL }}');">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>{{ .title | markdownify }}</h2>
          <p>{{ .content | markdownify }}</p>
          {{ if .button.enable }}
          {{ with .button }}
            {{ if .external }}
              <a class="btn btn-main btn-solid-border" href="{{ .link | relLangURL }}" target="_blank">{{ .label }}</a>
            {{ else }}
              <a class="btn btn-main btn-solid-border" href="{{ .link | relLangURL }}">{{ .label }}</a>
            {{ end }}
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
