{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- Gallery Start -->
<section class="gallery">

  <div class="subscribe">
    <script src="https://apis.google.com/js/platform.js"></script>
    <div class="g-ytsubscribe" data-channelid="{{ .Params.youtube_channel }}" data-layout="full" data-count="default"></div>
  </div>

    {{ range .Params.items }}
    <div class="gallery-item">
      <img src="{{ .thumbnail | relURL }}" alt="{{ .title }}">
      <a href="{{ .link }}" target="_blank">
        <div class="gallery-hover">
          <!-- <div class="gallery-content">
            <h3>{{ .date }}</h3>
          </div> -->
        </div>
      </a>
    </div>
    {{ end }}
</section>
<!-- Gallery End -->

<!-- Call to action -->
{{ if .Params.cta.enable }}
{{ partial "cta.html" . }}
{{ end }}
<!-- /Call to action -->

{{ end }}
